body {
    background-color: #E9E1D5;
    height: 100%;
}

.logotypeSection {
    display: flex;
    justify-content: center;
} 
.logotypeDiv {
    display: flex;
    flex-direction: column;
    
} 
.logotype {
    margin-top: 30px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
h3 {
    font-family: "Luicida Console",monaco, monospace;
    font-style: normal;
    font-size:xx-small;
    max-width: 150px;
    position:absolute;
    top: 85px;
    text-align: center;

}
.profileCart {
    justify-content: end;
    cursor: pointer;

}
.cart img{
    width: 20px;
    position: absolute;
    right:10px;
}
.profile img{
    width: 20px;
    position: absolute;
    right: 10px;
    top:30px;
}

.card-container{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: 10% 5% 0 5%;
    
}
p{
    font-family: "PT Sans", sans-serif;
    font-size: xx-small;
    text-align: center;

}
.card{
    border-radius: 15px;
    width: 150px;
    height: 170px;
    justify-content: center;
    box-sizing: border-box;
}

.card1, .card5  {
    background: #346767;
    color: #FFD966;
}
.card2, .card6 {
    background: #C86068;
    color: white;  
}
.card3, .card4{
    background: #C1DFC4;
}

.card7{
    background: #346767;
    color:#FFD966;
    width: 70%;
    height: auto;
    border-radius: 15px;
    justify-content: center;
    margin: auto;
    
}


.card img{
    width: auto;
    display: block;
    margin: 30px auto;
    height: 60px;
}
.card7 img{
    width: auto;
    margin: 10px auto;
    height: 70px;
    display: block;
}


.arrows img{
    object-fit: contain;
    max-width: 50%;
    height: 5%;
    display: block;
    margin: 10% auto;
}

footer {
    position: relative;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.socialMedia-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.socialMedia {
    display: flex;
    gap: 30px; 
}

.socialMedia img {
    max-width: 30px;
    max-height: 30px;
}

.contact {
   line-height: 0.3;
   font-size: 2px;
}
.logo-icon {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    max-width: 50px; 
    max-height: 50px;
    
}
@media screen and (min-width: 640px){

    .logotypeDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .logotype {
        margin-top: 100px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    h3 {
        font-family: "Luicida Console",monaco, monospace;
        font-style: normal;
        font-size: medium;
        position:absolute;
        top: 210px;
        max-width:300px;
    
    }
    .card-container{
        display: flex;
        gap: 70px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 0;
        margin: 10% 1% 10% 5%;
    }
    p{
        font-family: "PT Sans", sans-serif;
        font-size: larger;
        text-align: center;
    
    }
    .card{
        border-radius: 15px;
        width: 250px;
        height: 300px;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    .cart img {
        width: 50px;
        position: absolute;
        right:20px;
        top:20px;
    }
    .profile img {
        width: 50px;
        position: absolute;
        right: 20px;
        top:80px;
    }

    .card img{
        width: auto;
        display: block;
        margin: 10% auto;
        height: 120px;
    }
    .card7{
        background: #346767;
        color:#FFD966;
        width: 60%;
        border-radius: 15px;
        justify-content: center;
        margin: auto;
        cursor: pointer;
        
    }
    .card7 img{
        height: auto;
        width: 80%;
        object-fit: contain;
     }
     .contact {
        font-size: small;
     }

}

@media screen and (min-width: 850px) {
   
    .logotypeDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .logotype {
        margin-top: 200px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    h3 {
        font-family: "Luicida Console",monaco, monospace;
        font-style: normal;
        font-size: larger;
        position:absolute;
        top: 400px;
        max-width:max-content;
    
    }
    .cart img{
        width: 50px;
        position: absolute;
        right:20px;
        top:20px;
    }
    .profile img{
        width: 50px;
        position: absolute;
        right: 20px;
        top:80px;
    }
    .card-container{
        display: flex;
        gap: 70px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 0;
        /* margin: 10% 10%; */
    }
    p{
        font-family: "PT Sans", sans-serif;
        font-size: larger;
        text-align: center;
    
    }
    .card{
        border-radius: 15px;
        width: 250px;
        height: 300px;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .card1, .card5  {
        background: #346767;
        color: #FFD966;
        
    }
    .card2, .card6 {
        background: #C86068;
        color: white;
    }
    .card3, .card4{
        background: #C1DFC4;
    }
 
    .card img{
        width: auto;
        display: block;
        margin: 10% auto;
        height: 120px;
    }
    .arrows img{
        object-fit: contain;
        max-width: 70%;
        height: 5%;
        display: block;
        margin: 10% auto;
    }
    .card7{
        background: #346767;
        color:#FFD966;
        width: 60%;
        border-radius: 15px;
        justify-content: center;
        margin: auto;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    .card7:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .card7 p{
        font-size: x-large;
        padding-top: 5%;
    }
    .card7 img{
       height: auto;
       width: 80%;
       object-fit: contain;
    }

    footer {
        position: relative;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }
    
    .socialMedia-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .socialMedia {
        display: flex;
        gap: 50px; 
    }
    
    .socialMedia img {
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
    }
    
    .contact {
       line-height: 0.3;
       font-size: medium;
    }
    .logo-icon {
        position: absolute;
        bottom: 10px; 
        right: 10px; 
        max-width: 30%; 
        max-height: 70%;
        
    }
    
}
@media screen and (min-width: 850px){
    .card-container{
        display: flex;
        gap: 70px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0;
        margin: 10% 20%;
    }
    .arrows img{
        object-fit: contain;
        max-width: 70%;
        height: 5%;
        display: block;
        margin: 15% auto 5% auto;
    }
    footer {
        position: relative;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }
    
    .socialMedia-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .socialMedia {
        display: flex;
        gap: 50px; 
    }
    
    .socialMedia img {
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
    }
    
    .contact {
       line-height: 0.3;
    }
    .logo-icon {
        position: absolute;
        bottom: 10px; 
        right: 10px; 
        max-width: 30%; 
        max-height: 70%;
        
    }
}
@media screen and (min-width: 1500px){
    .card-container{
        display: flex;
        gap: 150px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0;
        margin: 10% 10%;
    }
    footer {
        position: relative;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }
    
    .socialMedia-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .socialMedia {
        display: flex;
        gap: 50px; 
    }
    
    .socialMedia img {
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
    }
    
    .contact {
       line-height: 0.3;
    }
    .logo-icon {
        position: absolute;
        bottom: 10px; 
        right: 10px; 
        max-width: 30%; 
        max-height: 70%;
        
    }

}